<form method="POST" action="/new">
	<label for="user">
		<input type="text" name="user" id="user" />
	</label>
	<label for="message">
		<input type="text" name="message" id="message" />
	</label>

	<label for="submitBtn"><input type="submit" value="Submit" /></label>
</form>
