<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="./styles.css" />
	</head>
	<%- include('../templates/header') %>
	<body>
		<div class="wrapper">
			<form method="POST" action="/new">
				<h1>Create message</h1>
				<div class="label-wrapper">
					<label for="title">Title: </label>
					<input
						placeholder="Enter a title for your message..."
						type="text"
						name="title"
						id="title"
					/>
				</div>
				<div class="label-wrapper">
					<label for="user">Name: </label>
					<input type="text" name="user" id="user" />
				</div>
				<div class="label-wrapper">
					<label for="message">Message: </label>
					<input
						placeholder="Enter your message here..."
						type="text"
						name="message"
						id="message"
					/>
				</div>

				<label for="submitBtn"></label><input type="submit" value="Submit" />
			</form>
		</div>
	</body>
	<footer>
		<a target="_blank" href="https://github.com/Spaceflyy"
			>Spaceflyy <img src="./github-mark.svg" alt=""
		/></a>
	</footer>
</html>
