<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="./styles.css" />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
		</style>
	</head>
	<%- include('../templates/header') %>
	<body>
		<div class="form-wrapper">
			<form method="POST" action="/new">
				<h1>Create message</h1>
				<div id="formInputs">
					<div class="label-wrapper">
						<label for="title">Title: </label>
						<input
							required
							placeholder="Enter a title for your message..."
							type="text"
							name="title"
							id="title"
						/>
					</div>
					<div class="label-wrapper">
						<label for="user">Name: </label>
						<input required type="text" name="user" id="user" />
					</div>
					<div class="label-wrapper">
						<label for="message">Message: </label>
						<input
							required
							placeholder="Enter your message here..."
							type="text"
							name="message"
							id="message"
						/>
					</div>
				</div>
				<div id="formBtns">
					<label for="cancelBtn"></label>
					<a href="/"><button name="cancelBtn" type="button">Cancel</button></a>
					<label for="submitBtn"></label
					><input name="submitBtn" type="submit" value="Submit" />
				</div>
			</form>
		</div>
	</body>
	<footer>
		<a target="_blank" href="https://github.com/Spaceflyy"
			>Spaceflyy <img src="./github-mark.svg" alt=""
		/></a>
	</footer>
</html>
