<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="/styles.css" />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
		</style>
	</head>
	<%- include('../templates/header')%>
	<body>
		<div class="wrapper">
			<ul>
				<% messages.forEach((msg) => { %> <%- include('../templates/message',
				{msgId: msg.id, title: msg.title, user: msg.username, text: msg.text, added:
				msg.posting_date}, single); %> <% }); %>
			</ul>
		</div>
	</body>
	<footer>
		<a target="_blank" href="https://github.com/Spaceflyy"
			>Spaceflyy <img src="/github-mark.svg" alt=""
		/></a>
	</footer>
</html>
