<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="#" />
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<%- include('../templates/header')%>
	<body>
		<div class="wrapper">
			<ul>
				<% messages.forEach((msg) => { %> <%- include('../templates/message',
				{msgId: msg.msgId, title: msg.title, user: msg.user, text: msg.text, added:
				msg.added}); %> <% }); %>
			</ul>
		</div>
	</body>
	<footer>
		<a target="_blank" href="https://github.com/Spaceflyy"
			>Spaceflyy <img src="/github-mark.svg" alt=""
		/></a>
	</footer>
</html>
