:root {
	--cream: #eeeadd;
	--blue: #7ea5a4;
	--white: #ffffff;
}

body {
	display: flex;
	min-height: 100dvh;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: var(--cream);
	font-family: "Roboto", sans-serif;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 400px;
	width: 400px;
	border-radius: 10px;
	background-color: var(--blue);
}

#formInputs {
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
}
#formBtns {
	display: flex;
	gap: 1rem;
}
.label-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
}

.wrapper,
.form-wrapper {
	display: flex;
	justify-content: center;
}

.form-wrapper {
	min-height: 85dvh;
	align-items: center;
	filter: drop-shadow(0px 3px 5px grey);
}
ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0;
	padding: 2rem;
	min-width: 35%;
}

li {
	display: flex;
	background-color: grey;
	border-radius: 10px;
	padding: 1rem;
	background-color: var(--blue);
	filter: drop-shadow(0px 10px 5px grey);
}

button,
input[type="submit"] {
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	background-color: var(--white);
}

#detailsBtn {
	padding: 0px;
	margin-top: auto;
	margin-left: auto;
}

li p,
li h2 {
	margin: 0;
}

.msgInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.date,
#postedBy {
	font-size: 0.8rem;
}

footer,
header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
	margin-top: auto;
	min-height: 40px;
}
header {
	font-size: 0.8rem;
	position: sticky;
	margin-top: 0px;
	top: 0;
	filter: drop-shadow(0px 3px 5px grey);
	gap: 4rem;
}
footer img {
	width: auto;
	height: 25px;
	margin-left: 0.5rem;
}

footer a {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
}
